body {
  background-image: url('/images/homeimg.webp');
  color: #0c0101e1;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.80857;
  font-weight: normal;
  overflow-x: hidden;
}
.top-navbar {
    background-color: #333;
    overflow: hidden;
  }
.top-navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
.top-navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
.top-navbar li.active {
    background-color: #04AA6D;
    color: white;
  }


/* .nav-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  } */
/* .nav-item {
    margin-bottom: -1px;
  }
  
.nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  } */


.home-middle {
    text-align: center;
}
.center{
    position:absolute;
    height: X px;
    width: Y px;
    left:50%;
    top:50%;
    margin-top:- X/2 px;
    margin-left:- Y/2 px;
}